@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import "settings";
@import "foundation-emails";

@import "template/template";

.header .columns {
  padding-top: 0;
}

.header--leader img {
  width: 100%;
  max-width: none;
}

.gray {
  background-color: #e7e7e7;
}

h1 {
  font-weight: 700;
  color: #003366;
}

h2 {
  color: $primary-color;
}

h6 {
  color: #b2b2b2;
}

.header-text {
  font-size: 20px;

  span {
    color: $primary-color;
    font-weight: 700;
  }
}

h4 {
  span {
    color: $primary-color;
    font-weight: 700;
  }
}

a {
  color: $primary-color;
  font-weight: 700;
}

.info {
  height: 117px;
  border: 1px solid #cbcbcb;
  font-size: 36px;
  line-height: 117px;
  font-weight: 700;
  color: $primary-color;
}

.info-small {
  height: auto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: $primary-color;

  &--small {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
  }
}

.footer {
  text-transform: uppercase;

  &__first-line {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
  }

  &__second-line {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
  }

  &__social {
    text-align: center;
    text-transform: none;
    color: #00ccff;
  }
}

.text-center img {
  margin-left: auto;
  margin-right: auto;
}

.price {
  img {
    width: 100%;
    max-width: none;
  }
}

.stats {
  text-align: center;

  &__number {
    display: block;
    font-size: 60px;
    color: $primary-color;
  }

  &__text {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #828282;
  }
}

.stats-first {
  border-right: 1px solid #e4e4e4;
}

.info-bg {
  color: #ffffff;
  font-size: 14px;

  span {
    font-size: 60px;
  }
}

.profit {
  padding: 0 30px;
  font-size: 20px;

  &__info {
    padding: 20px;
    background-color: #fff;
  }
}

.footer__bg {
  background-image: url("./assets/img/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.small-bg {
  background-image: url("./assets/img/small-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.code {
  border: 1px solid #C2C2C2;

  th {
    height: 117px;
    vertical-align: middle;
    padding-bottom: 0;
    font-size: 30px;
    color: #003366;
  }

  &__text {
    padding-left: 30px;
  }

  &__right {
    padding-right: 0 !important;
    padding-left: 0 !important;
    background-color: #003366;
  }
}

.order-info {
  padding: 0 20px;
  border: 1px solid #D3D3D3;
  border-radius: 10px;

  &__inner {
    padding: 30px 0;
    border-bottom: 1px solid #D3D3D3;

    &:last-child {
      border-bottom: none;
    }
  }

  b {
    font-size: 20px;
  }
}

.order-info + .order-info {
  margin-top: 20px;
}

table.avicenna {
  background-image: url('../assets/img/avicenna_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  p {
    font-size: 20px;
  }
}

.header--avicenna {
  background: transparent;
}

.avicenna__row h1,
.avicenna__row b {
  color: #e23c38;
}

.footer-links {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}

.footer--avicenna {
  .menu {
    width: auto !important;
  }
}

.recomendations {
  padding: 40px 0;
  border: 1px solid #D2D2D2;
  font-size: 20px;

  &__block {
    padding: 0 30px;
  }

  &__title {
    font-size: 14px !important;
    text-transform: uppercase;
    color: #444444;
  }

  &__separator {
    padding: 0 30px;
  }

  &__button {
    a {
      display: block;
      text-align: center;

      img {
        display: inline;
      }
    }
  }

  .problem {
    font-size: 14px;
    text-transform: uppercase;
    color: #e9a606;
  }

  .doctor {
    span {
      font-size: 16px;
    }
  }

  table.button table td {
    background-color: #FEF4F4;
    color: #e23c38;
    text-align: center;
  }

  table.button table td a {
    color: #e23c38;
    border: 0 solid #D2D2D2;
  }
}

.card {
  padding: 30px 0;
  background-color: #003366;
  border-radius: 10px;

  p {
    font-size: 20px;
    font-weight: bold;
  }
}

// .text-right th {
//   text-align: right;

//   img {
//     display: inline-block;
//   }
// }