<row class="collapsed footer footer--avicenna">
  <columns small="12" large="12">
    <spacer size="50" />
    <center>
      <img src="./assets/img/separator.png" alt="" />
    </center>
  </columns>

  <row>
    <columns small="12" large="3">
      <center>
        <img src="./assets/img/avicenna_logo.png" alt="" />
      </center>
    </columns>
    <columns small="12" large="9">
      <row>
        <columns slmall="12" large="7">
        </columns>
        <columns slmall="12" large="1" valign="middle">
          <a href="#"><img src="./assets/img/avicenna-tg.png" alt="">
        </columns>
        <columns slmall="12" large="1" valign="middle">
          <a href="#"><img src="./assets/img/avicenna-facebook.png" alt="">
        </columns>
        <columns slmall="12" large="1" valign="middle">
          <a href="#"><img src="./assets/img/avicenna-vk.png" alt="">
        </columns>
        <columns slmall="12" large="1" valign="middle">
          <a href="#"><img src="./assets/img/avicenna-ok.png" alt="">
        </columns>
        <columns slmall="12" large="1" valign="middle">
          <a href="#"><img src="./assets/img/avicenna-youtube.png" alt="">
        </columns>
      </row>
      <!-- <ul class="footer-links text-right">
        <li>
          <a href="#"><img class='float-right' src="./assets/img/icon-telegram.png" alt=""></a>
        </li>
        <li>
          <a href="#"><img class='float-right' src="./assets/img/icon-telegram.png" alt=""></a>
        </li>
      </ul> -->
      <!-- <menu>
        <item href="#"><img class='float-right' src="./assets/img/icon-telegram.png" alt=""></item>
        <item href="#"><img class='float-right' src="./assets/img/icon-facebook.png" alt=""></item>
        <item href="#"><img class='float-right' src="./assets/img/icon-vk.png" alt=""></item>
        <item href="#"><img class='float-right' src="./assets/img/icon-ok.png" alt=""></item>
        <item href="#"><img class='float-right' src="./assets/img/icon-youtube.png" alt=""></item>
      </menu> -->
    </columns>
  </row>
  </row>