<row class="collapsed footer">
  <columns class="footer__bg">
    <spacer size="50" />
    <center>
      <p class='footer__first-line'>create your future</p>
      <p class='footer__second-line'>with DSS</p>
    </center>
    
    <spacer size="23" />

    <row>
      <columns small="12" large="12">
        <center>
          <img src="./assets/img/separator.png" alt="" />
        </center>
      </columns>
    </row>

    <spacer size="30" />

    <center>
      <p class='footer__social'>Explore our main official social networks and sign up:</p>
    </center>

    <spacer size="10" />

    <center>
      <menu>
          <item href="#"><img src="./assets/img/icon-telegram.png" alt=""></item>
          <item href="#"><img src="./assets/img/icon-ok.png" alt=""></item>
          <item href="#"><img src="./assets/img/icon-instagram.png" alt=""></item>
          <item href="#"><img src="./assets/img/icon-vk.png" alt=""></item>
          <item href="#"><img src="./assets/img/icon-youtube.png" alt=""></item>
          <item href="#"><img src="./assets/img/icon-twitter.png" alt=""></item>
          <item href="#"><img src="./assets/img/icon-facebook.png" alt=""></item>
      </menu>
    </center>
    <spacer size="23" />
  </columns>
</row>